# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
client/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter
client/.dart_tool/
client/.idea/
client/build/
client/.packages
client/pubspec.lock

# ASP.NET Core
server/Optika.API/Optika.API/bin/
server/Optika.API/Optika.API/obj/
server/Optika.API/Optika.API/appsettings.Development.json
server/Optika.API/Optika.API/appsettings.json
server/Optika.API/.vs/
wwwroot/images/*
!wwwroot/images/.gitkeep

# System
*.log
*.tmp
# .NET build artifacts
**/bin/
**/obj/
*.DS_Store
client/.metadata
server/Optika.API/.vs/Optika.API/DesignTimeBuild/.dtbcache.v2
server/Optika.API/.vs/Optika.API/DesignTimeBuild/.dtbcache.v2
server/Optika.API/.vs/Optika.API/v17/.suo
server/Optika.API/.vs/Optika.API/DesignTimeBuild/.dtbcache.v2
server/Optika.API/.vs/Optika.API/v17/.suo
server/Optika.API/.vs/Optika.API/v17/DocumentLayout.json
server/Optika.API/.vs/Optika.API/DesignTimeBuild/.dtbcache.v2
/client/macos
/client/ios
/client/linux
/client/web
/client/windows
/server/Optika.API/Optika.API/obj
server/Optika.API/Optika.API/obj/Debug/net8.0/Optika.API.AssemblyInfo.cs
/server/Optika.API/Optika.API/wwwroot/images
