# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter
client/.dart_tool/
client/.idea/
client/build/
client/.packages
client/pubspec.lock

# ASP.NET Core
server/Optika.API/Optika.API/bin/
server/Optika.API/Optika.API/obj/
server/Optika.API/Optika.API/appsettings.Development.json
server/Optika.API/Optika.API/appsettings.json
server/Optika.API/.vs/

# System
*.log
*.tmp
*.DS_Store
.metadata
